<div class="center padded">
	<div class="content padded">
		<div class="padded">
			<h1>Mira mis proyectos !</h1>
		</div>
		<div class="center grids">
			<div class="proyect">
				<h3>Primer Proyecto</h3>
				<img src="{{url_for('static',filename='freelancer.png')}}"/>
				<p>Mi primer proyecto construido solo HTML y CSS</p>
				<a class="orange" href="https://jorgegranda.netlify.app/">Link aqui</a>
		    </div>
		    <div class="proyect">
				<h3>Tienda Virtual</h3>
				<img src="{{url_for('static',filename='tienda.png')}}"/>
				<p>Una tienda virtual construida con HTML y CSS</p>
				<a class="orange" href="https://tiendaropapro.netlify.app/">Link aqui</a>
		    </div>
		    <div class="proyect">
				<h3>Blog de Cafe</h3>
				<img src="{{url_for('static',filename='blog.png')}}"/>
				<p>Blog de cafe construido en HTML y CSS </p>
				<a class="orange" href="https://cafenicblog.netlify.app/">Link aqui</a>
		    </div>
		    <div class="proyect">
				<h3>Carrito de compras</h3>
				<img src="{{url_for('static',filename='carrito.png')}}"/>
				<p>Un carrito de compras hecho con React</p>
				<a class="orange" href="https://flourishing-empanada-cc7a39.netlify.app/">Link aqui</a>
		    </div>
		    <div class="proyect">
				<h3>Todo App</h3>
				<img src="{{url_for('static',filename='github.png')}}"/>
				<p>Aplicacion FullStack, para la parte de frontend se utilizo HTML y CSS, mientras que para la parte de backend se utilizo Python, con el microframework Flask, se trabajo con bases de datos, una para el registro del usuario y otra ara el manejo de las tareas</p>
				<a class="orange" href="https://github.com/jorgenico0105">Descarga en Github</a>
		    </div>
		    <div class="proyect">
				<h3>Mailer app</h3>
				<img src="{{url_for('static',filename='github.png')}}"/>
				<p>Aplicacion FullStack, para la parte de frontend se utilizo HTML y CSS, mientras que para la parte de backend se utilizo Python, con el microframework Flask, se trabajo con bases de datos para los correos, y para su respectivo envio, usamos SendGrid.</p>
				<a class="orange" href="https://github.com/jorgenico0105">Descargar en GitHub</a>
		    </div>
		</div>
	</div>
</div>