<div class="center padded">
	<div class="content padded">
		<div class="padded">
			<h1>Mira mis proyectos !</h1>
		</div>
		<div class="grids">
			<div class="proyect">
				<h3>Primer Proyecto</h3>
				<img src="{{url_for('static',filename='freelancer.png')}}"/>
				<p>Mi primer proyecto construido solo HTML y CSS</p>
				<a class="orange" href="https://jorgegranda.netlify.app/">Link aqui</a>
		    </div>
		    <div class="proyect">
				<h3>Tienda Virtual</h3>
				<img src="{{url_for('static',filename='tienda.png')}}"/>
				<p>Una tienda virtual construida con HTML y CSS</p>
				<a class="orange" href="https://tiendaropapro.netlify.app/">Link aqui</a>
		    </div>
		    <div class="proyect">
				<h3>Blog de Cafe</h3>
				<img src="{{url_for('static',filename='blog.png')}}"/>
				<p>Blog de cafe construido en HTML y CSS </p>
				<a class="orange" href="https://cafenicblog.netlify.app/">Link aqui</a>
		    </div>
		    <div class="proyect">
				<h3>Carrito de compras</h3>
				<img src="{{url_for('static',filename='carrito.png')}}"/>
				<p>Un carrito de compras hecho con React</p>
				<a class="orange" href="https://flourishing-empanada-cc7a39.netlify.app/">Link aqui</a>
		    </div>
		    <div class="proyect todo">
				<h3>Todo App</h3>
				<img src="{{url_for('static',filename='todo2.png')}}"/>
				<p>Una app hecha con HTML y CSS, con Python en la parte del backend utilizando Flask y MySql en la parte de bases de datos</p>
				<a class="orange" href="https://github.com/jorgenico0105">Descarga en Github</a>
		    </div>
		    <div class="proyect mailer">
				<h3>Mailer app</h3>
				<img src="{{url_for('static',filename='mailer2.png')}}"/>
				<p>Aplicacion para envio de correos, hecha con Flask, y Sendgrid</p>
				<a class="orange" href="https://github.com/jorgenico0105">Descargar en GitHub</a>
		    </div>
		</div>
	</div>
</div>