<div class="center">
	<div class="content">
		<div class="row vert-pad">
			<div class="left padded">
				<h1>
					Desarrollo con pasion aplicaciones y sitios web para personas
				</h1>
				<p>
					Constantemente me encuentro aprendiendo nuevas tecnologias, siempre me encuentro desarrolando nuevas paginas web con distintos lenguajes y tecnologias, esta la desarrolle con Flask y HTML junto con CSS.
				</p>
			</div>
			<div class="right padded">
				<h1>Podemos charlar lo que quieras!!</h1>
				<p>Solo enviame un correo <a href="#contacto">Pinchando aqui!</a></p>
				<p>Mi repositorio en GitHub <a href="https://github.com/jorgenico0105">GitHub</a></p>
			</div>
		</div>	
	</div>
</div>